{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0,
include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-sm">
  <h6 class="p-3 mb-0 border-bottom border-dark">
    <i class="fas fa-rss"></i> News
  </h6>
  <div class="px-3 py-2">
    {% for year in news_by_year %}
    <div class="news-year">{{ year.name }}</div>
    {% for item in year.items %}
    <div class="news-item">
      <span class="news-date">{{ item.date | date: "%b %d" }}</span>
      <span class="news-title">{{ item.title }}</span>
    </div>
    {% endfor %} {% endfor %}
  </div>
</div>
