---
title: "Contestable Multi-Agent Debate with Arena-based Argumentative Computation for Multimedia Verification"
date: 2026-06-01 00:01:00 +0800
selected: false
pub: "ACM International Conference on Multimedia Retrieval"
pub_date: "2026"
pub_post: " (ICMR)"

authors:
  - Truong Thanh Hung Nguyen*
  - Vo Thanh Khang Nguyen*
  - admin
  - Phuc Ho
  - Van Pham
  - Hung Cao
links:
  PDF: https://arxiv.org/abs/2605.14495
---
